# Import libreries

In [18]:
# Libreries for data manipulation
import pandas as pd

# ========================================================
# Import of libraries necessary for data manipulation and exploration.
# ========================================================
import pandas as pd
from datetime import datetime
import numpy as np
import warnings
from sklearn.metrics import mean_squared_error
import joblib

# ========================================================
# Import of modules where the logic is located behind the vast majority of lines.
# ========================================================
import Descriptive_Analysis as descriptive

In [19]:
# Read the CSV file
crime_data = pd.read_csv("D:\Datasets\Crime_Data_from_2020_to_Present.csv", sep=',', encoding='utf8')

# Descriptive analysis

In [20]:
# Dataframe's information
descriptive.df_info(crime_data)

================================
Shape
(963006, 28)
--------------------------------
Nulls
DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           139117
Vict Age               0
Vict Sex          132501
Vict Descent      132511
Premis Cd             14
Premis Desc          575
Weapon Used Cd    637661
Weapon Desc       637661
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          894402
Crm Cd 3          960705
Crm Cd 4          962942
LOCATION               0
Cross Street      813230
LAT                    0
LON                    0
dtype: int64
--------------------------------
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963006 entries, 0 to 963005
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           963006 non-null  int64
 1   Date Rptd       963006 non-null  object
 2   DATE OCC        963006 non-null  object
 3   TIME OCC        963006 non-null  int64
 4   AREA            963006 non-null  int64
 5   AREA NAME       963006 non-null  object
 6   Rpt Dist No     963006 non-null  int64
 7   Part 1-2        963006 non-null  int64
 8   Crm Cd          963006 non-null  int64
 9   Crm Cd Desc     963006 non-null  object
 10  Mocodes         823889 non-null  object
 11  Vict Age        963006 non-null  int64
 12  Vict Sex        830505 non-null  object
 13  Vict Descent    830495 non-null  object
 14  Premis Cd       962992 non-null  float64
 15  Premis Desc     962431 non-null  object
 16  Weapon Used Cd  325345 non-null  float64
 17  Weapon Desc     325345 non-null  object
 18  Status          963005 non-null  object
 19  Status Desc     963006 non-null  object
 20  Crm Cd 1        962995 non-null  float64
 21  Crm Cd 2        68604 non-null   float64
 22  Crm Cd 3        2301 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        963006 non-null  object
 25  Cross Street    149776 non-null  object
 26  LAT             963006 non-null  float64
 27  LON             963006 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 205.7+ MB
None
--------------------------------
Descripci√≥n
              DR_NO       TIME OCC           AREA    Rpt Dist No  \
count  9.630060e+05  963006.000000  963006.000000  963006.000000
mean   2.193097e+08    1338.511749      10.712636    1117.702063
std    1.271527e+07     652.008017       6.102611     610.332012
min    8.170000e+02       1.000000       1.000000     101.000000
25%    2.105155e+08     900.000000       6.000000     615.000000
50%    2.207157e+08    1420.000000      11.000000    1141.000000
75%    2.308096e+08    1900.000000      16.000000    1617.000000
max    2.499187e+08    2359.000000      21.000000    2199.000000

            Part 1-2         Crm Cd       Vict Age      Premis Cd  \
count  963006.000000  963006.000000  963006.000000  962992.000000
mean        1.406664     500.660494      29.296909     306.161923
std         0.491211     206.634328      21.926341     218.142252
min         1.000000     110.000000      -4.000000     101.000000
25%         1.000000     331.000000       0.000000     101.000000
50%         1.000000     442.000000      30.000000     203.000000
75%         2.000000     626.000000      45.000000     501.000000
max         2.000000     956.000000     120.000000     976.000000

       Weapon Used Cd       Crm Cd 1      Crm Cd 2     Crm Cd 3   Crm Cd 4  \
count   325345.000000  962995.000000  68604.000000  2301.000000   64.00000
mean       363.767705     500.410572    958.116480   984.144285  991.21875
std        123.633260     206.429079    110.301931    51.589273   27.06985
min        101.000000     110.000000    210.000000   310.000000  821.00000
25%        311.000000     331.000000    998.000000   998.000000  998.00000
50%        400.000000     442.000000    998.000000   998.000000  998.00000
75%        400.000000     626.000000    998.000000   998.000000  998.00000
max        516.000000     956.000000    999.000000   999.000000  999.00000

                 LAT            LON
count  963006.000000  963006.000000
mean       33.994096    -118.076735
std         1.653217       5.730322
min         0.000000    -118.667600
25%        34.014600    -118.430700
50%        34.058900    -118.322500
75%        34.164900    -118.273900
max        34.334300       0.000000
--------------------------------
Muestra de registros
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]
            DR_NO               Date Rptd                DATE OCC  TIME OCC  \
963001  242106032  02/20/2024 12:00:00 AM  02/17/2024 12:00:00 AM      2330
963002  242004546  01/16/2024 12:00:00 AM  01/16/2024 12:00:00 AM      1510
963003  240104953  01/15/2024 12:00:00 AM  01/15/2024 12:00:00 AM       100
963004  241711348  07/19/2024 12:00:00 AM  07/19/2024 12:00:00 AM       757
963005  240309674  04/24/2024 12:00:00 AM  04/24/2024 12:00:00 AM      1500

        AREA   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
963001    21     Topanga         2103         1     420
963002    20     Olympic         2013         2     624
963003     1     Central          101         2     745
963004    17  Devonshire         1751         2     888
963005     3   Southwest          358         1     230

                                            Crm Cd Desc  ... Status  \
963001  THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...     IC
963002                         BATTERY - SIMPLE ASSAULT  ...     IC
963003         VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...     IC
963004                                      TRESPASSING  ...     IC
963005   ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...     IC

        Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
963001  Invest Cont    420.0      NaN       NaN      NaN
963002  Invest Cont    624.0      NaN       NaN      NaN
963003  Invest Cont    745.0      NaN       NaN      NaN
963004  Invest Cont    888.0      NaN       NaN      NaN
963005  Invest Cont    230.0      NaN       NaN      NaN

                                        LOCATION  \
963001  22700    NAPA                         ST
963002           HOBART                       BL
963003   1300 W  SUNSET                       BL
963004  10000    OLD DEPOT PLAZA              RD
963005           FLOWER                       ST

                           Cross Street      LAT       LON
963001                              NaN  34.2260 -118.6214
963002  3RD                          ST  34.0690 -118.3054
963003                              NaN  34.0685 -118.2460
963004                              NaN  34.2500 -118.5990
963005  JEFFERSON                    BL  34.0215 -118.2868

[5 rows x 28 columns]
================================